* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Gilroy-Regular', sans-serif;
}

#main {
    height: 100%;
    width: 100%;
    background: white;
}

#nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
}

#nav h4 {
    font-size: 20px;
    font-weight: 500;
}

#nav i {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 100;
}

#center {
    padding: 26px 80px;
}

#center h1 {
    /* font-size: 60px; */
    font-size: 3.5vw;
    font-weight: 500;
    line-height: 3.5vw;
}

#center-in {
    height: 200px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}

#center-in p {
    font-size: 22px;
    font-size: 1.15vw;
    font-weight: 600;
    line-height: 1.5vw;
}

#right {
    width: 20%;
}

.elem {
    padding: 20px 0;
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
}


.elem a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 20px;
}

.elem i {
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
    transition: all linear 0.2s;
}

.elem:hover i {
    opacity: 1;
}

#bottom {
    height: 40%;
    width: 100%;
    background: url('../images/model.jpg');
    background-position: 0 25%;
    background-size: cover;
}

@media (max-width: 600px) {

    #nav h4 {
        font-size: 14px;
    }

    #nav i {
        font-size: 14px;
        padding: 8px;
    }

    #center {
        padding: 20px 30px;
    }

    #center h1 {
        /* font-size: 60px; */
        font-size: 8.5vw;
        font-weight: 500;
        line-height: 12vw;
    }

    #center-in {
        flex-direction: column;
        gap: 10px;
        margin-top: 39px;
    }

    #center-in p {
        font-size: 3.5vw;
        font-weight: 600;
        line-height: 5vw;
    }

    #right {
        width: 100%;
    }

    .elem {
        padding: 10px 0;
        border-top: 1px solid #ddd;
    }


    .elem a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
        font-size: 14px;
    }

    .elem i {
        font-size: 14px;
        opacity: 1;
        color: #333;
    }

    #bottom {
        height: 29%;
        width: 100%;
        background: url('../images/model.jpg');
        background-position: 0 25%;
        background-size: cover;
    }
}